html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

// hero section
.hero {
    background-color: $blue;
    height: calc(120vh - 50px);
    position: relative;

    .hero_content {
        @include flex (column, center, center);
        text-align: center;

        h1 {
            padding: 10px 0px;
        }

        p {
            line-height: 20px;
            padding: 5px 0px;
        }

        ul {
            margin: 0;
            padding: 10px 0px;
            @include flex (row, center, center);

            li {
                padding: 0px 0.5em;

                img {
                    height: 32px;
                }
            }
        }
    }

    .hero_footer {
        width: 100%;
        position: absolute;
        bottom: 0px;
        text-align: center;
        img {
            width: 90%;
        }
    }
}

// about section
.about {
    background-color: $light-blue;
    position: relative;

    .about_content {
        height: 90%;
        padding: 10px 0px;
        text-align: center;
        @include flex (column, center, center);

        h1 {
            padding: 10px 0px;
        }
        
        p {
            line-height: 20px;
        }
    }

    .about_footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        
       img {
           width: 100%;
       }
    }
}


// framework and skills 
.framework-and-skills {
    background-color: $blue;

    .framework-and-skills_content {
        text-align: center;
        h1 {
            line-height: 35px;
        }

        .skills {
            height: 50%;

            ul {
                @include flex(row, center, center);
                flex-wrap: wrap;
                padding: 25px 0px;

                li {
                    padding: 16px 16px;
                    img {
                        height: 50px;
                    }
                }
            }
        }

        .frameworks {
            height: 50%;

            ul {
                @include flex(row, center, center);
                flex-wrap: wrap;
                padding: 25px 0px;

                li {
                    padding: 16px 16px;
                    img {
                        height: 50px;
                    }
                }
            }
        }
    }
}


// conferences
.conference {
    background-color: $gold;
    position: relative;
    .conference_content {        
        h1 {
            padding-bottom: 1em !important;
        }

        ul {
            li {
                padding: 1em;
                .card {
                    .card_content {
                        h1 {
                            padding: 0em !important;
                        }
                        h2 {
                            line-height: 25px;
                        }
                    }
                }
            }
        }
    }

    .conference_footer {
        position: absolute;
        bottom: 0;
        left: 0;
        img {
            width: 100%;
        }
    }
}


// myworks-web
.myworks-web {
    background-color: $blue;
    .myworks-web_content {
        @include flex(column, center, center);

        img {
            width: 100%;
        }
    }
}


// myworks-responsive
.myworks-responsive {
    background-color: $blue;
    position: relative;

    padding-bottom: 130px;
    .myworks-reponsive_content {
        padding: 2em 0em;
    }
    .myworks-responsive_footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        img {
            width: 100%;
        }
    }
}


// footer 
.footer {
    @include flex(column, center, center);
    text-align: center;
    background-color: $light-blue;
    padding: 2em 1em;
    .footer_content {
        h5 {
            line-height: 45px;
        }
        p {
            font-size: 0.8em;
        }
        ul {
            display: flex;
            @include flex(row, center, center);
            li {
                padding: 1em 0.5em;
                img {
                    height: 30px;
                }
            }
        }
    }
}